<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Grade</title>
    <link rel="icon" href="images/useradmin.png" type="image/x-icon" />
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="admin/bootstrap-4.1.3-dist/css/validecss.css">
    <link rel="stylesheet" href="css/mdb.min.css" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <div class="container-fluid">
             
              <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="fa fa-bars"></i>
              </button>
  
              
              <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               
                  <li class="nav-item " style="margin-left:400px">
                    
                   <a class="nav-link text-center text-dark" href=""><h5>Node.js, Express, MongoDB, Ejs Mini Project</h5></a>
                  </li>
         
                </ul>
                
                
              </div>
              
            </div>
            
          </nav>
        <div class="row">
          <div id="response"></div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6 border-end border-warning">
           
            <h5 class="text-dark">Register</h5>
            <form action="/add_user" method = "POST"enctype="multipart/form-data" id="myForm">
               <div class="form-group col-md-12 mb-3">
               <div class="input-group " id="email">
                 <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                 <input type="text" class="form-control" placeholder="Email" aria-label="Username"
                   aria-describedby="basic-addon1" name="email" />
                   <span class="input-group-text" id="basic-addon2">Email</span>
               </div>
               </div>
               <div class="form-group col-md-12 mb-3">
               <div class="input-group form-group col-md-12 mb-3" id="password">
                 <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                 <input type="password" class="form-control" placeholder="************" aria-label="Username"
                   aria-describedby="basic-addon1" name="password" />
                   <span class="input-group-text" id="basic-addon2">Password</span>
               </div>
              </div>
              <div class="form-group col-md-12 mb-3">
               <div class="input-group form-group col-md-12 mb-3" id="password">
                 <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                 <input id="uploadImage" type="file" class="form-control" accept="image/*" name="image" />
                   <span class="input-group-text" id="basic-addon2">Photo</span>
               </div>
              </div>
              <div class="form-group col-md-12 mb-3">
               <div class="input-group col-md-12 mb-3">
                
                 <button type="submit" class="btn btn-primary btn-block"  name="signUp">Signup</button>
               </div>
             </div>
               
               </form>
          </div>
  
          <div class="col-md-6">
            <!-- message here -->
            <h5 class=" text-dark">Login</h5>
            
            <!-- <form enctype="multipart/form-data" id="myFormLogin">
               <div class="form-group col-md-12 mb-3">
               <div class="input-group " id="email">
                 <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                 <input type="text" class="form-control" placeholder="Email" aria-label="Username"
                   aria-describedby="basic-addon1" name="name" />
                   <span class="input-group-text" id="basic-addon2">Email</span>
               </div>
               </div>
               <div class="form-group col-md-12 mb-3">
               <div class="input-group form-group col-md-12 mb-3" id="password">
                 <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                 <input type="password" class="form-control" placeholder="************" aria-label="Username"
                   aria-describedby="basic-addon1" name="password" />
                   <span class="input-group-text" id="basic-addon2">Password</span>
               </div>
              </div>
              
              <div class="form-group col-md-12 mb-3">
               <div class="input-group col-md-12 mb-3">
                
                 <button type="submit" class="btn btn-primary btn-block"  name="login">Login</button>
               </div>
             </div>
               
               </form> -->
          </div>
        </div>
      </div>
    <%- include('footer') %>
 
</body>
</html>