<% students.forEach(element => { %>
    <div class="border-top border-primary bg-light mb-1 p-1 text-center">
        <a href="/giveMarks?id=<%= element.id %>"> <span class=""><%= element.name %></span?</a
    </div>
<% }) %>